
//Media Query Value :
$maxWidthResp: 980px;

//Background url
$bgUrl: "https://static.vecteezy.com/ti/foto-gratuito/p2/36103059-ai-generato-gotico-cimitero-a-notte-con-pieno-luna-3d-rendering-ai-generato-gratuito-foto.jpg";


//Color:
$primaryBgColor:linear-gradient(145deg, rgba(0, 0, 0, 0.55), rgba(34, 34, 34, 0.75));
$primaryTextColor: #d3d3d3;
$boxShadowColor: rgba(0, 0, 0, 0.7);
$borderColor: #2e2e2e;
$hoverTextColor:#ffd700;
$bloodTextColor:#C8102E;
$bloodTextColorHover: #E03C50;

//Other:
$borderRadius: 10px;